<!DOCTYPE html>
<html>
<head>
    <title>Game Finder</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/Game/About">About</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>