@model GameFinder.Models.GameSearchModel

<h2>Here are your game preferences:</h2>
<ul>
    <li><strong>Genre:</strong> @Model.Genre</li>
    <li><strong>Category:</strong> @Model.Category</li>
    <li><strong>Platform:</strong> @Model.Platform</li>
    <li><strong>Format:</strong> @Model.Format</li>
</ul>