@model GameFinder.Models.Game

<h2>Game Details</h2>
<p>Title: @Model.Title</p>
<p>Genre: @Model.Genre</p>
<p>Platform: @Model.Platform</p>
<p>Rating: @Model.Rating</p>
<p><a href="/Games">Back to List</a></p>